---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: ["nightly", "stable"]

    steps:
      - uses: actions/checkout@v4.1.7
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true

      - name: Cypress run
        uses: cypress-io/github-action@v6.7.2
        with:
          command: npm run cy:run

      - uses: actions/upload-artifact@v4.3.6
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
