---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  pnpm-tests:
    name: pnpm test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.1.0
      - uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm test

  end-to-end-tests:
    name: end-to-end-tests
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        # https://github.com/rhysd/action-setup-vim/blob/master/action.yml
        neovim_version: ["nightly", "stable"]
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4.1.0
      - uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: "pnpm"

      - name: install dependencies and build
        run: pnpm install && pnpm build

      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
      - uses: rhysd/action-setup-vim@89f3345bcde053529463583418779d83ee6dfb33 # v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}

      - run: |
          cd packages/integration-tests
          pnpm i # make sure the tui command is found

          # NVIM_APPNAME=nvim is the default, but spelled out here for clarity
          NVIM_APPNAME=nvim pnpm tui neovim prepare
          NVIM_APPNAME=nvim_alt pnpm tui neovim prepare

      - name: Test that tui neovim exec works
        run: |
          # test that tui neovim exec works
          pnpm tui neovim exec version

      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install

      - name: Cypress run
        uses: cypress-io/github-action@b8ba51a856ba5f4c15cf39007636d4ab04f23e3c # v6.10.2
        with:
          command: |
            pnpm tui run

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: packages/integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
