---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # https://github.com/rhysd/action-setup-vim/blob/master/action.yml
        neovim_version: ["nightly", "stable"]

    steps:
      - uses: actions/checkout@v4.2.2
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}

      - uses: pnpm/action-setup@v4.1.0
      - uses: actions/setup-node@v4.4.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"

      - run: |
          # install dependencies, which will also build the project
          pnpm install
          (cd packages/integration-tests && pnpm tui neovim prepare)

      - run: pnpm test
      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install

      - name: Cypress run
        uses: cypress-io/github-action@v6.9.0
        with:
          command: |
            pnpm cy:run

      - uses: actions/upload-artifact@v4.6.2
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
