---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        neovim_version: ["nightly"]

    steps:
      - uses: actions/checkout@v4.2.2
      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true

      - uses: pnpm/action-setup@v4.0.0
      - uses: actions/setup-node@v4.1.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"

      - run: |
          # install dependencies so we can build the project
          pnpm install
          pnpm build
          # install the "tui" command so it's available for the next steps
          pnpm install

      - run: pnpm test
      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install

      - name: Cypress run
        uses: cypress-io/github-action@v6.7.9
        with:
          command: pnpm cy:run

      - uses: actions/upload-artifact@v4.6.0
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
